body{
  background-color: lightgoldenrodyellow;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-align: center;
  padding:100px;
  border-style: groove;
  border-radius: 10px;
  border-width: 20px;
  border-color:crimson;
}

li {
  list-style-type: none;
}

button{
  background-color: transparent;
  border:none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color:darkred;
}

a {
  font-size: 35px;
  text-decoration: none;
  color:red;
}

h1 {
  font-family:'Times New Roman', Times, serif;
  color:crimson;
  letter-spacing: 10px;
}